.choice {
   .swiper-arrow {
      display: none;
      @media (max-width: 800px) {
         display: block;
      }
   }
   &__recipe {
      padding: 100px 0 200px;
      overflow: hidden;
      background: url("../../images/towel.png") -60% 25% / 1000px 800px no-repeat,
         url("../../images/arrow-red.png") 30% 10% / 71px 71px no-repeat,
         url("../../images/leaf-small.png") 95% 10% / 145px 215px no-repeat,
         url("../../images/paper.png") -10% 100% / 452px 300px no-repeat,
         url("../../images/salad.png") 107% 105% / 351px 426px no-repeat;
      @media (max-width: 1920px) {
         padding: 5.21vw 0 10.42vw;
         background: url("../../images/towel.png") -60% 25% / 52.08vw 41.67vw no-repeat,
            url("../../images/arrow-red.png") 30% 10% / 3.7vw 3.7vw no-repeat,
            url("../../images/leaf-small.png") 95% 10% / 7.55vw 11.2vw no-repeat,
            url("../../images/paper.png") -10% 100% / 23.54vw 15.63vw no-repeat,
            url("../../images/salad.png") 107% 105% / 18.28vw 22.19vw no-repeat;
      }
      @media (max-width: 800px) {
         padding: 5.21vw 0 10.42vw;
         background: url("../../images/towel.png") -70% 85% / 62.08vw 56.67vw no-repeat,
            url("../../images/arrow-red.png") 80% 25% / 6.7vw 6.7vw no-repeat,
            url("../../images/leaf-small.png") 18% 20% / 12.55vw 17.2vw
               no-repeat,
            url("../../images/paper.png") 50% 108% / 35.54vw 20.63vw no-repeat,
            url("../../images/salad.png") 110% 75% / 23.28vw 27.19vw no-repeat;
      }
   }
   &__style {
      padding: 100px 0 200px;
      overflow: hidden;
      background: url("../../images/towel.png") -30% 80% / 700px 600px no-repeat,
         url("../../images/tomatoes.png") 120% -20% / 674px 450px no-repeat,
         url("../../images/leaf-small.png") 5% 12% / 145px 215px no-repeat,
         url("../../images/leaf-big.png") 0% 25% / 186px 274px no-repeat,
         url("../../images/paper.png") 30% 100% / 452px 300px no-repeat,
         url("../../images/salad.png") 107% 105% / 351px 426px no-repeat;
      @media (max-width: 1920px) {
         padding: 5.21vw 0 10.42vw;

         background: url("../../images/towel.png") -30% 80% / 36.46vw 31.25vw no-repeat,
            url("../../images/tomatoes.png") 120% -20% / 35.1vw 23.44vw no-repeat,
            url("../../images/leaf-small.png") 5% 12% / 7.55vw 11.2vw no-repeat,
            url("../../images/leaf-big.png") 0% 25% / 9.69vw 14.27vw no-repeat,
            url("../../images/paper.png") 30% 100% / 23.54vw 15.63vw no-repeat,
            url("../../images/salad.png") 107% 105% / 18.28vw 22.19vw no-repeat;
      }
      @media (max-width: 800px) {
         padding: 5.21vw 0 10.42vw;
         background: url("../../images/towel.png") -70% 85% / 62.08vw 56.67vw no-repeat,
            url("../../images/arrow-red.png") 80% 25% / 6.7vw 6.7vw no-repeat,
            url("../../images/leaf-small.png") 18% 20% / 12.55vw 17.2vw
               no-repeat,
            url("../../images/paper.png") 50% 108% / 35.54vw 20.63vw no-repeat,
            url("../../images/salad.png") 110% 75% / 23.28vw 27.19vw no-repeat;
      }
   }
   &__extra {
      padding: 100px 0 200px;
      overflow: hidden;
      background: url("../../images/towel.png") -30% 80% / 700px 600px no-repeat,
         url("../../images/tomatoes.png") 120% -20% / 500px 350px no-repeat,
         url("../../images/leaf-small.png") 5% 12% / 145px 215px no-repeat,
         url("../../images/leaf-big.png") 0% 25% / 186px 274px no-repeat,
         url("../../images/paper.png") 30% 100% / 452px 300px no-repeat,
         url("../../images/salad.png") 107% 105% / 351px 426px no-repeat;
      @media (max-width: 1920px) {
         padding: 5.21vw 0 10.42vw;
         background: url("../../images/towel.png") -30% 80% / 36.46vw 31.25vw no-repeat,
            url("../../images/tomatoes.png") 120% -20% / 26.04vw 18.23vw no-repeat,
            url("../../images/leaf-small.png") 5% 12% / 7.55vw 11.2vw no-repeat,
            url("../../images/leaf-big.png") 0% 25% / 9.69vw 14.27vw no-repeat,
            url("../../images/paper.png") 30% 100% / 23.54vw 15.63vw no-repeat,
            url("../../images/salad.png") 107% 105% / 18.28vw 22.19vw no-repeat;
      }
      @media (max-width: 800px) {
         padding: 5.21vw 0 10.42vw;
         background: url("../../images/towel.png") -70% 85% / 62.08vw 56.67vw no-repeat,
            url("../../images/arrow-red.png") 80% 35% / 6.7vw 6.7vw no-repeat,
            url("../../images/leaf-small.png") 18% 30% / 12.55vw 17.2vw
               no-repeat,
            url("../../images/paper.png") 50% 108% / 35.54vw 20.63vw no-repeat,
            url("../../images/salad.png") 110% 75% / 23.28vw 27.19vw no-repeat;
      }
   }
}
.choice__items {
   margin-top: 90px;
   padding: 0 190px;
   @media (max-width: 1920px) {
      margin-top: 4.69vw;
      padding: 0;
   }
}
.choice__row {
   @media (min-width: 1920px) {
      margin: -40px -30px;
   }
   @media (min-width: 801px) {
      margin: -2.08vw -1.56vw;
      display: flex;
      flex-wrap: wrap;
   }
   /*  display: flex;
  flex-wrap: wrap; */
}
.choice__item {
   @media (max-width: 1920px) {
      padding: 40px 30px;
   }
   @media (min-width: 801px) {
      padding: 2.08vw 1.56vw;
      flex: 0 1 33.333%;
   }
}
.choice__column {
}
.choice__image {
}
.choice__subtitle {
}
.choice__get-result-button {
   text-align: center;
   margin-top: 90px;
   @media (max-width: 1920px) {
      margin-top: 4.69vw;
   }
   @media (max-width: 1920px) {
      margin-top: 4.69vw;
   }
}
