.advice
    h2 еще один совет
    P …Этот рецепт отличается необычным сочетанием груши и поп-корна, что добавляет интересный вкус и текстуру бургеру. Не забудьте пригласить взрослого помочь вам с разогреванием духовки и обжариванием ингредиентов на сковороде.
    P Обратите внимание, что взрослому важно контролировать процесс приготовления или хотя бы раз сделать всё вместе с ребёнком. Во‑первых, чтобы объяснить ему правила безопасности на кухне. Во‑вторых, чтобы показать, как правильно готовить то или иное блюдо — и таким образом избежать лишних проблем и слез при самостоятельной готовке.  