.copyright
    p Продюсер: Анна Филимонова, Дизайнер: Юрий Мячин, Основной текст: Анастасия Ильиных, Текст рецептов: Искусственный Интеллект, 
        br
        | Технический директор: Денис Осипов, Руководитель отдела спецпроектов: Алена Прокофьева.  
        b ©
        | 2024 
    p Реклама. ООО "КРУЗ"