.intro
	.intro__top 
		h1.red-color Творим с «Помидоркой»:
			span.green-color изобретаем новые рецепты
	.intro__image 
		
	.intro__bottom.bottom-intro(data-aos="fade-up")
		p.bottom-intro__text.general-text Как здорово, когда процесс готовки превращается в настоящее творчество! Правда, нужно признать: порой даже у самых изобретательных кулинаров заканчиваются идеи для новых блюд. Но мы вместе с «Помидоркой» придумали решение: создали гастропомошника, который поможет по-новому взглянуть на любимые и привычные рецепты.
		.bottom-intro__button.button ГАСТРОБОТ
