.other-users(data-aos="fade-up")
	h2.other-users__title.red-color
		span Рецепты других пользователей
	.other-users__wraper
		.other-users__swiper.swiper.js-other-users-slider
			.swiper-wrapper 
				.other-users__item.item.swiper-slide 
					.other-users__column.item__column 
						.other-users__image.item__image 
							img(src="images/other-users/1.png", alt="alt")
						h3.other-users__subtitle.item__title баклажаны
				.other-users__item.item.swiper-slide 
					.other-users__column.item__column 
						.other-users__image.item__image 
							img(src="images/other-users/2.png", alt="alt")
						h3.other-users__subtitle.item__title куриные ножки
				.other-users__item.item.swiper-slide 
					.other-users__column.item__column 
						.other-users__image.item__image 
							img(src="images/other-users/3.png", alt="alt")
						h3.other-users__subtitle.item__title бургеры
				.other-users__item.item.swiper-slide 
					.other-users__column.item__column 
						.other-users__image.item__image 
							img(src="images/other-users/3.png", alt="alt")
						h3.other-users__subtitle.item__title баклажаны
		.swiper-arrow.swiper-arrow-prev
		.swiper-arrow.swiper-arrow-next
