.result
	.result__dish 
		img(src="images/result/dish.png", alt="alt")
	h2.result__title.red-color.lines
		span шакшука
	.result__ingredients.ingredients-result
		.ingredients-result__container
			.ingredients-result__book 
				.ingredients-result__row
					.ingredients-result__book-bg 
						img(src="images/result/book-mob.png", alt="alt").mob-el
						img(src="images/result/book.png", alt="alt").desk-el
					.ingredients-result__content 
						.ingredients-result__title.green-color Ингредиенты на 2 порции
						ul.ingredients-result__list
							li.ingredients-result__point Оливковое масло 1 столовая ложка
							li.ingredients-result__point Репчатый лук ½ штуки
							li.ingredients-result__point Чеснок 1 зубчик
							li.ingredients-result__point Сладкий перец 1 штука
							li.ingredients-result__point Помидоры 4 штуки
							li.ingredients-result__point Томатный Соус “Помидорка” 2 столовые ложки
							li.ingredients-result__point Молотый кумин (зира) 1 чайная ложка
							li.ingredients-result__point Паприка 1 чайная ложка
							li.ingredients-result__point Молотый черный перец щепотка
							li.ingredients-result__point Сахар щепотка
							li.ingredients-result__point Соль по вкусу
							li.ingredients-result__point Куриное яйцо 5 штук
							li.ingredients-result__point Рубленая петрушка по вкусу
					.ingredients-result__image 
						img(src="images/result/1.png", alt="alt")
	.result__cookingmethod.cookingmethod-result
		.cookingmethod-result__title.green-color.lines 
			span Приготовление
		.cookingmethod-result__container
			ul.cookingmethod-result__list 
				li.cookingmethod-result__point 
					span 
						span 1
					p Разогрейте оливковое масло в глубокой сковороде. Добавьте лук, пассеруйте до прозрачности, добавьте чеснок и томите ещё минуту-две.
				li.cookingmethod-result__point 
					span 
						span 2
					p Добавьте порезанный болгарский перец — и готовьте ещё 5–7 минут, после чего бросьте в сковороду помидоры и томатную пасту и перемешайте. Теперь приправьте специями и сахаром. Снова перемешайте и снова готовьте 5–7 минут. Посолите, поперчите, попробуйте — если все устраивает, оставьте так, если нет, добавьте соли, сахару или перцу, если вам чего‑то не хватает.
				li.cookingmethod-result__point 
					span 
						span 3
					p По одному выпустите в сковороду яйца, накройте крышкой и готовьте 10–15 минут.
				li.cookingmethod-result__point 
					span 
						span 4
					p За это время соус чуть выпарится. Но следите за тем, чтобы он не выпарился совсем — иначе шакшука подгорит. Есть её нужно с подсушенной питой, а подавать прямо в сковороде.
			.cookingmethod-result__buttons
				.cookingmethod-result__button.generate-again.button.green-button 
					|Сгенерировать еще
				.cookingmethod-result__socialmedia.mob-el 
					div
						span Поделиться
						a(href="") 
							img(src="images/result/vk.svg", alt="alt")
						a(href="") 
							img(src="images/result/ok.svg", alt="alt")
						a(href="") 
							img(src="images/result/tg.svg", alt="alt")
				.cookingmethod-result__button.button.button-about 
					|о помидорке
			.cookingmethod-result__socialmedia.desk-el 
				div
					span Поделиться
					a(href="") 
						img(src="images/result/vk.svg", alt="alt")
					a(href="") 
						img(src="images/result/ok.svg", alt="alt")
					a(href="") 
						img(src="images/result/tg.svg", alt="alt")

