extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	.container
		include ../components/intro
		include ../components/choice
		include ../components/other-users
		include ../components/preloader
