extends ../layouts/default

block vars
	-
		const page = {
			title: 'Main'
		};

block main
	.container
		include ../components/intro
		include ../components/choice
		include ../components/copyright
		include ../components/preloader
