extends ../layouts/default

block vars
	-
		const page = {
			title: 'Recipe'
		};

block main
	.container
		include ../components/result
		include ../components/other-users
		include ../components/advice
